body {
   margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.4);
}

.navication-bar {
    display: flex;
    align-items: center;

}
.navication .logo {
    font-size: 22px;
    font-weight: bold;
}
.navivation ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
 .navication ul li a {
text-decoration: none;
color: #444;
}
.Button-contact {
    background: #c8a878;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}
.Container {
background-image: url(image/Gaya-05-1536x1024.webp);
background-size: cover;
background-position: center;
height: 400px;
display: flex;
align-items: center;
padding: 0 4px;
color: white;
}
.Container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.Container-text p {
font-size: 16px;
margin-bottom: 20px;
}
.Container-start {
    background: white;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
}
.container1-text {
    display: flex;
    gap: 30px;
    padding: 50px;
    background: #857777;
}
.container1-text .content {
    width: 44%;
}
.Container1 h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
     